h2, h3, p, small{
    text-align: center;
}

small{
    display: block;
}

fieldset{
    margin: 20px;
    padding: 20px;
    border-style: double;
}

input{
    width: 85%;
    margin: 5px 20px;
    border: 1px solid darkgray;
    height: 20px;
    border-radius: 3px;
}

.interpolation,
.property-binding,
.event-binding{
    border: 1px dotted;
    padding: 10px; 
    margin: 10px;
}

.property-binding input:last-child{
    margin-bottom: 20px;
}

.event-binding{
    text-align: center;
}

button{
    background-color: rgb(221,0,49);
    border: none;
    color: white;
    padding: 10px 15px;
    width: 85%;
    border: 1px solid rgb(221,0,49);
}